.examples{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    &__title{
        font-size: 1.5rem;
        font-weight: 400;
        color: #282c34;
        margin: 0;
    }
}
.example-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% - 205px);
    margin-left: auto;
    &__title{
        color: #9494f5;
        font-weight: 500;
        margin: 0;
    }
}
.example{
    display: flex;
    align-items: center;
    gap: 2rem;
    & .codeblock {
        width: 60%;
    }
    & .btn__container{
        flex-direction: column;
    }
}