form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
}

.btn__wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.formBtn {
    border: none;
    border-radius: 7px;
    padding: .7rem;
    width: 100px;
    background: #9494f5;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    &:hover {
        color: #9494f5;
        background: white;
        box-shadow: 0 0 25px #9494f563;
    }
    &--cancel {
        background: white;
        color: #b34040d0;
        &:hover {
            color: white;
            background: #b34040d0;
        }
    }
}